{% extends "startbootstrap/pages/index.html" %}
{% load staticfiles %}
{% block title %}
	Registrar escenario
{% endblock %}
{% block graphics_js %}
	<script type="text/javascript" src="{% static 'js/prototype.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/ubicaciones.js' %}"></script>
{% endblock %}

{% block title_content %}
	Registrar Escenario
{% endblock %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading">
			Registro Escenarios 		
		</div>
		<div class="panel-body">
		{% if exito_escenario %}
			<div class="alert alert-success">
				{{exito_escenario_nombre}}{{exito_escenario}}
			</div>
		{% else %}
			<form role="form" method="POST">
				{% csrf_token %}
				{% if error %}
				<div class="alert alert-danger">
					{{error}}
				</div>
				{% endif %}
				{% if error_ubicacion %}
				<div class="alert alert-danger">
					{{error_ubicacion}}
				</div>
				{% endif %}
				
				<div class="form-group">
					<label>
						Nombre
					</label>
					{{form.nombre}}
				</div>
				<div class="form-group">
					<label>
						Estado (Escoja de 1 a 10 de mal estado a buen estado)
					</label>
					{{form.escala}}
				</div>
				<div class="form-group">
					<label>
						Dedicación
					</label>
					{{form_actividad.dedicacion}}
				</div>
				<div class="form-group">
					<label>
						Deporte o actividad practicado
					</label>
					{{form_actividad.actividad}}
				</div>
				<div class="form-group">
					<label>
						Descripción
					</label>
					{{form.descripcion}}
				</div>
				<div class="form-group">
					<label>
						Capacidad de público
					</label>
					{{form.capacidad_publico}}
				</div>
				<div class="form-group">
					<label>
						Capacidad de deportistas en entrenamiento
					</label>
					{{form.capacidad_deportistas}}
				</div>
				<div class="form-group">
					<label>
						Departamento
					</label>
					{{form_ubicacion.type}}
				</div>
				<div class="form-group">
					<label>
						Municipio
					</label>
					{{form_ubicacion.municipio}}
				</div>
				<div class="form-group">
					<label>
						Dirección
					</label>
					{{form.direccion}}
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Registrar Escenario</button>
			</form>
		{% endif %}
		</div>
	</div>
{% endblock %}