{% extends "startbootstrap/pages/index.html" %}
{% block title %}
Búsqueda Noticias
{% endblock %}
{% block title_content %}
Noticias Destacadas
{% endblock %}
{% block buscar_noticias %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-hacker-news fa-fw"> </i>
			Sección de Noticias
		</div>
		<div class="panel-body">
			{% for noticia in noticias %}
				<h2><a href="{{noticia.get_absolute_url}}">{{noticia.titulo}}</a></h2><br>				
				<img src="../{{ MEDIA_URL}}{{noticia.imagen}}" alt="{{noticia.titulo}}" width="1000px" />
			{% endfor %}
		</div>
	</div>
{% endblock %}