{% extends "startbootstrap/pages/index.html" %}
{% block title %}
Búsqueda Noticias
{% endblock %}
{% block title_content %}
Noticias Destacadas
{% endblock %}
{% block content %}
	
	<div class="panel panel-primary">
        <div class="panel-heading">
            Sección de noticias
        </div>
    	<!-- /.panel-heading -->
        <div class="panel-body">
            {% if borra_noticia %}
                <h2>
                    <small>
                        <p class="text-success">
                            {{borra_noticia}}
                        </p>
                    </small>
                </h2>
                <br>
            {% endif %}
            <div class="dataTable_wrapper">
            	<div class="row">
            		<div class="col-sm-12">
            			<table aria-describedby="dataTables-example_info" role="grid" class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">
                    		<thead>
                                <tr role="row">
                                	<th>
                                        Título
                                	</th>
                                	<th>
                                        Fecha de publicación
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for noticia in noticias %}
                            	<tr role="row" class="gradeA odd">
                                    <td class="sorting_1">
                                    	<a href="{{noticia.get_absolute_url}}">
                                    		{{noticia.titulo}}
                                    	</a>
                                    <td>
                                    	{{noticia.fecha}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        	</div>
        </div>
            <!-- /.table-responsive -->
                <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

{% endblock %}