{% extends "startbootstrap/pages/index.html" %}

{% block title %}
Editar Noticia {{id_noticias}}
{% endblock %}

{% block title_content %}
Editar Noticia
{% endblock %}
{% block noticia %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-hacker-news fa-fw"> </i>
			Noticia {{noticia.titulo}}
		</div>
		<div class="panel-body">
			<form role="form" enctype="multipart/form-data" method="POST">
			{% csrf_token %}
				<div class="form-group">
					<label for="disabledSelect">
						Código
					</label>
					<input class="form-control" id="disabledInput" placeholder="{{noticia.codigo}}" disabled="" type="text">
					</input>
				</div>
				<div class="form-group">
					<label>
						Título
					</label>
					<input class="form-control" id="id_titulo" maxlength="100" name="titulo" type="text" value="{{noticia.titulo}}">
				</div>
				<div class="form-group">
					<label>
						Contenido
					</label>
					{{form.contenido}}
				</div>
				<div class="form-group">
					<label>
						Asociar imagen
					</label>
					{{form.imagen}}
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Enviar Noticia</button>
			</form>
		</div>
	</div>
{% endblock %}