{% extends "startbootstrap/pages/index.html" %}

{% block title %}
Editar Noticia {{id_noticias}}
{% endblock %}

{% block title_content %}
Editar Noticia
{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-hacker-news fa-fw"> </i>
			Noticia {{noticia.titulo}}
		</div>
		<div class="panel-body">
			<form role="form" method="post" enctype="multipart/form-data" id="form">
				{% csrf_token %}
				<div class="form-group">
					<label for="disabledSelect">
						Código
					</label>
					<input class="form-control" id="disabledInput" value="{{noticia.codigo}}" disabled="" type="text">
				</div>
				<div class="form-group">
					<label>
						Título
					</label>
					<input class="form-control" id="id_titulo" maxlength="100" name="titulo" type="text" value="{{noticia.titulo}}">
				</div>
				<div class="form-group">
					<label for="disabledSelect">
						Fecha de creación
					</label>
					<input class="form-control" id="disabledInput" value="{{noticia.fecha}}" disabled="" type="text">
				</div>
				<div class="form-group">
					<label>
						Contenido
					</label>
					<textarea class="form-control" id="id_contenido", name="contenido", rows="6" type="text">{{noticia.contenido}}</textarea>
				</div>
				<div class="form-group">
					<label>
						Imagen
					</label>
					<input type="file" id="id_imagen" name="imagen">
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Enviar Noticia</button>
			</form>
		</div>
	</div>
{% endblock %}