{% extends "startbootstrap/pages/index.html" %}
{% block title %}
	Reportes gráficos disponibles
{% endblock %}

{% block title_content %}
	Menú de reportes gráficos
{% endblock %}

{% block content %}
	<p class="text-justify">
		Bienvenidos al módulo de reportes gráficos. En la siguiente sección podrá encontrar los tipos de reportes gráficos que actualmente se encuentran disponibles.
	</p>
	<div class="panel panel-primary">
        <div class="panel-heading">
            Sección de reportes gráficos
        </div>
        <div class="panel-body">
        	<div class="dataTable_wrapper">
            	<div class="row">
            		<div class="col-sm-12">
            			<table aria-describedby="dataTables-example_info" role="grid" class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">
                    		<thead>
                                <tr role="row">
                                	<th>
                                        Tipo de Reporte
                                	</th>
                                    <th>
                                        Tipo de gráfico
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            	<tr>
                            		<td>
                            			<a href="/reportes/deportistas-genero">Porcentaje de deportistas por género</a>
                            		</td>
                                    <td>
                                        Pastel
                                    </td>
                            	</tr>
                                <tr>
                                    <td>
                                        <a href="/reportes/deportistas-entidad-numero">Número de deportistas por entidad</a>
                                    </td>
                                    <td>
                                        Barras
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/reportes/graficos/georeferenciacion_escenarios">Escenarios disponibles en una ciudad
                                    </td>
                                    <td>
                                        Mapa
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/reportes/graficos/georeferenciacion_entidades">Entidades disponibles en una ciudad
                                    </td>
                                    <td>
                                        Mapa
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Entidades adscritas de una ciudad</a>
                                    </td>
                                    <td>
                                        Mapa
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        	</div>
        </div>
    </div>

{% endblock %}