{% extends "startbootstrap/pages/index.html" %}
{% block title %}
Misión y Visión
{% endblock %}

{% block title_content %}
	Misión y Visión
{% endblock %}
{% block content %}
<p>
MISION 
</p>
<p class="text-justify">
Liderar, formular, dirigir y evaluar la política pública del Deporte, la Recreación y la Actividad Física y ejercer la Inspección Vigilancia y Control del Sistema Nacional del Deporte, con criterio de inclusión y equidad social contribuyendo con la convivencia, la paz y prosperidad de los colombianos.
</p>
 
<p>
VISIÓN
</p>
<p class="text-justify">
En el 2015 ser modelo de organización a nivel nacional e internacional, por el impacto que generan las políticas, en la dirección, promoción y fomento del Deporte, la Recreación y la Actividad Física
</p>
{% endblock %}