{% extends "startbootstrap/pages/index.html" %}
{% block title %}
¿Quiénes somos?
{% endblock %}

{% block title_content %}
	¿Quiénes somos?
{% endblock %}

{% block content %}
 <p class="text-justify">El Departamento Administrativo del Deporte, la Recreación, la Actividad Física y el Aprovechamiento del Tiempo Libre – COLDEPORTES tiene como objetivo, dentro del marco de sus competencias y de la ley, formular, adoptar, dirigir, coordinar y ejecutar la política pública, planes, programas y proyectos en materia el deporte, la recreación, el aprovechamiento del tiempo libre y la actividad física, para promover el bienestar, la calidad de vida, así como contribuir a la salud pública, a la educación, a la cultura, a la cohesión social, a la conciencia nacional y a las relaciones internacionales, a través de la participación de los actores públicos y privados.</p>
<p class="text-justify">
COLDEPORTES cuenta con una sede en Bogotá, ubicada en la Av. 68 No. 55-65 con instalaciones adecuadas para el desarrollo de sus actividades. Tiene una planta globalizada de 180 funcionarios que están comprometidos con la calidad y el servicio al cliente a través de una comunicación permanente y eficaz.
</p>
{% endblock %}