{% extends "startbootstrap/pages/index.html" %}
{% block title %}
	Registrar Nueva Entidad
{% endblock %}
{% block graphics_js %}
	<script type="text/javascript" src="/static/js/prototype.js"></script>
	<script type="text/javascript" src="/static/js/ubicaciones.js"></script>
{% endblock %}

{% block title_content %}
	Registrar Entidad
{% endblock %}

{% block content %}
	{% if form_entidad %}
	{{form.errors}}
	<div class="panel panel-default">
		<div class="panel-heading">
			Registro Entidades 		
		</div>
		<div class="panel-body">
			<form role="form" method="POST">
				{% csrf_token %}
				{{form_registrar_entidad.errors}}
				<div class="form-group">
					<label>
						Nombre completo
					</label>
					{{form_entidad.nombre}}
				</div>
				<div class="form-group">
					<label>
						Seleccione el tipo de entidad
					</label>
					{{form_entidad.tipo}}
				</div>
				<div class="form-group">
					<label>
						Dedicación (Puede escoger más de una)
					</label>
					{{form_dedicacion}}
				</div>
				<div class="form-group">
					<label>
						Carácter económico
					</label>
						{{form_entidad.caracter_economico}}
				</div>
				<div class="form-group">
					<label>
						Teléfono
					</label>
						{{form_entidad.telefono}}
				</div>
				<div class="form-group">
					<label>
						Correo electrónico
					</label>
					<input class="form-control" id="id_correo" maxlength="254" name="correo" placeholder="Email" type="text">
				</div>
				<div class="form-group">
					<label>
						Departamento
					</label>
					{{form_ubicacion.type}}
				</div>
				<div class="form-group">
					<label>
						Municipio
					</label>
					{{form_ubicacion.municipio}}
				</div>
				<div class="form-group">
					<label>
						Dirección
					</label>
						{{form_entidad.direccion}}
				</div>
				<div class="form-group">
					<label>
						Número de identificación del representante legal
					</label>
						{{form_entidad.cc_representante_legal}}
				</div>
				<div class="form-group">
					<label>
						Nombre completo del representante legal
					</label>
						{{form_entidad.nombre_representante_legal}}
				</div>			
				<button type="submit" class="btn btn-primary btn-lg btn-block">Registrar Entidad</button>
			</form>
		</div>
	</div>
	{% elif exito %}
	<div class="panel panel-default">
		<div class="panel-heading">
			Registro			
		</div>
		<div class="panel-body">
			{{exito}}
		</div>
	</div>
	{% else %}
	<div class="panel panel-default">
		<div class="panel-heading">
			Registro			
		</div>
		<div class="panel-body">
			El formulario no pudo ser cargado. Por favor inténtelo más tarde
		</div>
	</div>
	{% endif %}
{% endblock %}